[Unit]
Description=Ollama ROCm API
After=network-online.target ai-stack-pod.service
Wants=network-online.target ai-stack-pod.service

[Container]
ContainerName=ollama
Image=docker.io/ollama/ollama:rocm
Pod=ai-stack.pod
Volume=ollama:/root/.ollama:Z
PodmanArgs=--device=/dev/kfd
PodmanArgs=--device=/dev/dri

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
